name: Update Activity
on:
  schedule:
    - cron: '*/30 * * * *'
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    name: Update Activity
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: jamesives/github-activity-readme@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          GH_USERNAME: Rtarun3606k